@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: var(--foreground);
  font-family: var(--font-sans);
}

section {
  border: none;
  outline: none;
  box-shadow: none;
}

main {
  border: none;
  outline: none;
  box-shadow: none;
}

#image-track,
.gallery-track {
  display: flex;
  gap: 5vmin;
  position: absolute;
  left: 50%;
  top: calc(50% + 40px);
  transform: translate(0%, -50%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.gallery-image-container {
  position: relative;
  width: 40vmin;
  height: 65vmin;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 1rem;
}

.gallery-image {
  object-fit: cover;
  object-position: 100% center;
  pointer-events: none;
}

.gallery-scroll::-webkit-scrollbar {
  display: none;
}

.gallery-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
}

input[data-checkout-input]:-webkit-autofill,
input[data-checkout-input]:-webkit-autofill:hover,
input[data-checkout-input]:-webkit-autofill:focus,
input[data-checkout-input]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.1) inset;
  -webkit-text-fill-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input[data-checkout-input] {
  background-color: rgba(255, 255, 255, 0.1);
}

