@import "tailwindcss";

@custom-variant dark (&:where(html.dark, html.dark *));

:root {
  --foreground: #171717;
  --page-bg: white;
}

html.light {
  --foreground: #171717;
  --page-bg: white;
}

html.dark {
  --foreground: #ededed;
  --page-bg: black;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  background: var(--page-bg);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  overscroll-behavior: none;
  position: relative;
  overflow-x: hidden;
  touch-action: pan-y;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html.dark body {
  background: black;
}

html.light body {
  background: white;
}

.font-lugrasimo {
  font-family: var(--font-lugrasimo), serif;
}

.font-caudex {
  font-family: var(--font-caudex), serif;
}

section,
main {
  border: none;
  outline: none;
  box-shadow: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#image-track,
.gallery-track {
  display: flex;
  gap: 5vmin;
  position: absolute;
  left: 50%;
  top: calc(50% + 40px);
  transform: translate(0%, -50%);
  user-select: none;
}

.gallery-image-container {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 1rem;
}

.gallery-image {
  object-fit: cover;
  object-position: 100% center;
  pointer-events: none;
}

html.light input:-webkit-autofill,
html.light input:-webkit-autofill:hover,
html.light input:-webkit-autofill:focus,
html.light input:-webkit-autofill:active,
html.light textarea:-webkit-autofill,
html.light textarea:-webkit-autofill:hover,
html.light textarea:-webkit-autofill:focus,
html.light textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #000000;
  color: #000000;
  caret-color: #000000;
  border-color: black;
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark input:-webkit-autofill:active,
html.dark textarea:-webkit-autofill,
html.dark textarea:-webkit-autofill:hover,
html.dark textarea:-webkit-autofill:focus,
html.dark textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset;
  box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
  caret-color: #ffffff;
  border-color: white;
}

